<!DOCTYPE html>
<html>
    <head>
       <title>Visual Respiration-Angry</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/angry.css">
    </head>
    
    <body>

    <div id="bg_image" >
        <br>
        <br>
        <h1><strong>Why do you feel angry?</strong></h1>
         
         <form action="/submit" class="container">
            <input type="text" name="reason" required>
            <button type="submit" class="btn btn-warning"> Submit</button>
        </form>
    </div>
    
    </body>
</html>