body{
    background-image:url("https://images.unsplash.com/photo-1416230789844-1998de481fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 640px;
    
}

#title{
    text-align:center;
}

#buttons{
    margin-top:8%;
    text-align:center;
}

.btn-danger{
    margin-right:10px;
}

.btn-success{
    margin-right:10px;
}

.nav-item:hover{
    color:blue !important;
}

.contact:hover{
    background-color:#f0f5f5;
}