<!DOCTYPE html>
<html>
    <head>
        <title>Visual Respiration-Instagram</title>
    </head>
    
    <style>
        body{
            background: #A1FFCE;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
    </style>
    
    <body>
        <h1>Feeling bored?</h1>
        <h2>No Worries !! Have a look at our <a href="https://www.instagram.com/visualrespiration/">instagram page</a> and relax.</h2>
    </body>
</html>