<!DOCTYPE html>
<html>
    <head>
        <title>Visual Respiration-Optional</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    
    <style>
        body{
            background: #A1FFCE;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        
        div{
            text-align:center;
            margin-top:20%;
           }
    </style>
    
    <body>
        <div>
            <button type="submit" onclick="window.location.href='https://www.fitnessblender.com/';" class="btn btn-primary btn-lg" style="margin-right:10px;">Go to a fitness page</button>
            <button type="submit" onclick="window.location.href='https://www.youtube.com/watch?v=KFLgYy2VHV0';" class="btn btn-primary btn-lg">Watch motivational speech</a></button>
        </div>
    </body>
</html>