<!DOCTYPE html>
<html>
    <head>
        <title>Visual Respiration-End</title>
        <link rel="stylesheet" href="/stylesheets/submit.css">
    </head>
    
    <body>
        <h1>Thanks for your valuabale time.I hope you liked my work ;)</h1>
    </body>
</html>